#wrapper{
    background-color: rgb(248,248,248);
}

.navbar{
    border-radius: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

#homePoster{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

#homeJumbotron{
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: #5504A6;
    border-radius: 0 !important;
    font-size: 17px;
}

#card1{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: white;
}

#card2, #card3{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: white;
}

.card-title{
    color: rgb(34,34,34);
}

.btn{
    border: none;
}

.jumbotron{
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: #5504A6;
    border-radius: 0 !important;
}

.card-text, h3{
    font-weight: bold;
}

#price1Class, #price2Class, #price3Class, #price4Class{
    padding: 15px;
    text-align: center;
    height: 250px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

#priceBtn1, #priceBtn2, #priceBtn3, #priceBtn4{
    width: 150px;
    height: 50px;
    padding-top: 12px;
    font-size: 16px;
    background-color: #5504A6;
}

#searchInput{
    width: 50%;
    border: none;
    height: 45px;
    text-indent: 10px;
    color: black;
}

#searchBtn{
    height: 45px;
    width: 100px;
    border-radius: 0px;
    margin-bottom: 3px;
    font-weight: bold;
}

span.glyphicon{
    font-size: 4.5em;
}

#header{
    margin-bottom: 30px;
}

#iconCard1, #iconCard2, #iconCard3, #iconCard4{
    padding: 50px;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

#aboutCard1, #aboutCard2{
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

#vpnLogo{
    width: 200px;
    height: 200px;
}

.footer {
    position: relative;
    height: 40px;
    clear: both;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    background-color: rgb(34,34,34);
}

.footer p{
    margin-top: 5px;
}